.logo{
    width: 1.32rem;
    height: 1.33rem;
    background-image: url(../../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: .5rem;
    margin-left:1.22rem ;
    margin-bottom: .1rem;
}
.account_form{
    padding: 0 .14rem;
    margin-top: .2rem;
    div{
        height: .4rem;
        line-height: .4rem;
        border-bottom: .01rem solid #0b67a4;
        position: relative;
        margin-top: .1rem;
        label{
            width: 30%;
            float: left;
            color: white;
            position: absolute;
            left: .15rem;
        }
    }
    input:not(.card_pic){
        width: 70%;
        text-indent: .1rem;
       border: none;
       height: .4rem;
       line-height: .4rem;
       color: white;
        float: right;
    }
    span.sendMessage{
        width: 1.07rem;
        height: .4rem;
        line-height: .4rem;
        float: right;
    }
}
.login_btn, .register_btn, .submit_btn{
    line-height: .4rem;
    a{
        color: white
    }
}
.primary_form{
    input{
        width: 100%;
        text-indent: .15rem;
        height: .4rem;
        line-height: .4rem;
        border: .01rem solid #ddd;
        border-radius: .05rem;
        float: right;
        margin-top: .1rem;
    }
    input.code{
        width: 2.24rem;
        float: left;
    }
    span.sendMessage{
        width: 1.07rem;
        height: .4rem;
        line-height: .4rem;
        float: right;
        margin-top: .1rem;
    }
    .back_login{
        height: .4rem;
        line-height: .4rem;
        text-align: center;
        a{
            display: block;
            height: .4rem;
            line-height: .4rem;
            color: rgba(255, 255, 255, .4);
        }
    }
}
/*个人中心*/
.assetTotal{
    width: 3.39rem;
    height: 1.52rem;
    background-image: url(../../img/grzl_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: .1rem auto;
    .icon{
        display: inline-block;
        width: .13rem;
        height: .135rem;
        vertical-align: middle;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-right: .1rem;
    }
    .icon.icon_money{
        background-image: url(../../img/icon_money.png)
    }
    .icon.icon_dmoney{
        background-image: url(../../img/icon_dmoney.png)
    }
}
.account_menus{
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 .15rem;
    padding-bottom: .8rem;
    div.menus_item{
        flex-grow: 1;
        text-align: center;
        span.icon{
            display: block;
            width: .88rem;
            height: .795rem;
            background-size: 100% 100%;
            margin: 0 auto;
        }
    }
}
/*个人资料*/
.personData{
    width: 3.56rem;
    height: 2rem;
    background-image: url(../../img/person_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   text-align: center;
   margin: .2rem auto;
    // form{
    //     // width: 1.34rem;
    //     // height: 1.125rem;
    //     width: .565rem;
    //     height: 1.2rem;
    // }
    // form::before{
    //     width: 0;
    //     height: 0;
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: -.3rem;
    //     border-right: .3rem solid transparent;
    //     border-top: .6rem solid transparent;
    //     border-bottom: .6rem solid transparent;
    // }
    // form::after{
    //     width: 0;
    //     height: 0;
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: -.3rem;
    //     border-left: .3rem solid transparent;
    //     border-top: .6rem solid transparent;
    //     border-bottom: .6rem solid transparent;
    // }
    .file {
        width: .565rem;
        height: 1.2rem;
        line-height: .95rem;
        margin: 0rem auto 0;
        background-size: 50% 50%;
        position: relative;
        // background-color:#1f2f54;
        position: relative;
        margin:0 auto;
        input[type='file']{
            display: inline-block;
            width: .76rem;
            height: .95rem;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
        }
    }
    .boxF, .boxS, .boxT, .overlay, input
    {
        width: .76rem;
            height: .95rem;
        overflow: hidden;
    }
    .boxF, .boxS
    {
        visibility: hidden;
    }
    .boxF
    {
        margin: 0rem auto;
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    .boxS
    {
        transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -webkit-transform: rotate(-60deg);
    }
    input{
        opacity: 0;
    }
    .boxT, input
    {
        transform: rotate(-60deg);
        background: no-repeat 50% center;
        background-size: 125% auto;
        -ms-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -webkit-transform: rotate(-60deg);
        visibility: visible;
    }
    .overlay
    {
        transition: all 250ms ease-in-out 0s;
        display: none;
        position: relative;
    }
    .overlay:hover
    {
        background-color: rgba(0,0,0,0.6);
    }
    .boxT:hover .overlay
    {
        display: block;
    }
    .overlay a
    {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -16px 0 0 -16px;
        border-radius: 3px;
        background-color: #d3b850;
        text-align: center;
        line-height: 32px;
        width: 32px;
        height: 32px;
        text-decoration: none;
        color: White;
        font-size: 18px;
        font-weight: bolder;
    }
    .file::before{
        width: 0;
        height: 0;
        content: '';
        position: absolute;
        top: 0;
        left: -.3rem;
        border-right: .3rem solid #1f2f54;
        border-top: .6rem solid transparent;
        border-bottom: .6rem solid transparent;
    }
    .file::after{
        width: 0;
        height: 0;
        content: '';
        position: absolute;
        top: 0;
        right: -.3rem;
        border-left: .3rem solid #1f2f54;
        border-top: .6rem solid transparent;
        border-bottom: .6rem solid transparent;
    }
    ul.overview{
        flex-direction: row;
        li{
            flex-grow: 1;
            line-height: .3rem;
            p.fc_blue{
                font-weight: 600;
            }
        }
    }
}
/*账单中心*/
.billTab{
    flex-direction: row;
    height: .4rem;
    line-height: .4rem;
    border-bottom: .01rem solid #acbbcc;
    li{
        flex-grow: 1;
        text-align: center;
        a{
            display: inline-block;
           height: .39rem;
            font-size: .11rem;
            vertical-align: bottom;
        }
    }
    li.active{
        a{
            color: #3c82ff;
            border-bottom: .02rem solid #3c82ff;
        }
    }
}
.totalSum{ 
    text-align: center;
    line-height: .5rem;
    margin-top: .5rem;
}
.billItems{
    flex-direction: column;
    padding: 0 .15rem;
    margin-bottom: .8rem;
    li{
        line-height: .2rem;
        border-bottom: .01rem solid #0095e4;
        padding-top: .1rem;
    }
}
/*客服中心*/
.clientService{
    font-size: .12rem;
    padding: .3rem .2rem;
    .icon{
        background-repeat: no-repeat;
        background-size: 100% 100%;
        float: left;
        vertical-align: middle;
        margin-right: .05rem;
    }
    .icon.kefu{
        width: .25rem;
        height: .25rem;
        background-image: url(../../img/icon_kef.png);
    }
    p{
        line-height: .3rem;
        margin: .1rem 0;
    }
}
img.wechat{
    width: .3rem;
    height: .25rem;
    background-image: url(../../img/icon_weixin.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: .05rem;
}
img.weChatgzh{
    width: 1.62rem;
    height: 1.62rem;
}
/*系统通知*/
.sysNotices{
    flex-direction: column;
    padding: .16rem;
    li{
        width: 100%;
        height: 1.01rem;
        background-color: #14162d;
        background-image: url(../../img/bg_xitongkuang.png);
        background-repeat: repeat;
        background-size: 100% 100%;
        margin-bottom: .2rem;
        p{
            line-height: .24rem;
            text-align: center;
        }
    }
}

ul.lists{
    flex-direction: column;
    margin-top: .2rem;
    padding: 0 .1rem;
    a{
        display: block;
        width: 100%;
        height: 100%;
    }
    li{
        border-bottom: .01rem solid #0097e7;
        height: .47rem;
        line-height: .47rem;
        text-indent: .3rem;
        padding-right: .2rem;
        position: relative;
        a{
            color: white;
        }
        .mark{
            width: .52rem;
            height: .19rem;
            font-size: .12rem;
            color: white;
            border-width: .01rem;
            border-radius: .2rem;
            margin-left: .1rem;
            padding: .05rem .1rem;
        }
        .mark.authenticated{
            background-color: #1dce3a;
        }
        .mark.unauthorized{
            background-color: #bfbfbf;
        }
        .go_arrow{
            display: inline-block;
            width: .16rem;
            height: .24rem;
            background-image: url("../../img/icon_more.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            vertical-align: middle;
            margin-left: .1rem;
        }
        
    }
}
/*油卡充值*/
.profile{
     img{
        width: .76rem;
        height: .95rem;
        margin: .5rem auto 0;
    }
}
input.card_num{
    // width: .55rem;
    height: .3rem;
    // text-align: center;
    border: none;
    color: white;
}
input.czAmount{  /*充值金额*/
    width: .55rem;
    height: .3rem;
    text-align: center;
    border: .01rem solid #3c82ff;
    color: white;
}
/*实名认证*/
.certify{
    width: 3.27rem;
    height: 1.5rem;
    line-height: .3rem;
    background-image: url(../../img/pic_card.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: .2rem auto;
}
#card_from{
    p{
        width: 2.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        border: .01rem dashed #ddd;
        border-radius: .05rem;
        text-align: center;
        margin: .2rem auto 0;
        position: relative;
        input.card_pic{
            display: block;
            width: 3rem;
            height: 1.5rem;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            z-index: 2;
        }
        span{
            display: block;
            width: 100%;
            position: absolute;
            top: .05rem;
            z-index: 1;
        }
        img{
            max-width: 3rem;
            max-height: 1.5rem;
        }
    }
    
}

/*记住密码*/
.keepPwd{
    display: inline-block;
    width: .12rem;
    height: .12rem;
    border: .01rem solid #3c82ff;
    border-radius: .05rem;
}
/*留言反馈*/
.feedbackWrap{
    padding: .2rem;
    div{
        height: 2.5rem;
        border: .01rem solid #666;
        border-radius: .05rem;
        padding: .1rem;
    }
    textarea{
        width: 100%;
        height: 100%;
        border: none;
        
    }
}
.feedBackLists{  //留言列表
    flex-direction: column;
    padding: 0 .2rem .4rem;
    li{
        flex-grow: 1;
        border: .01rem solid #3c82ff;
        border-radius: .05rem;
        padding: .1rem .2rem;
        margin-top: .15rem;
        p{
            height: .3rem;
            line-height: .3rem;
           text-overflow: ellipsis;
           white-space: nowrap;
           overflow: hidden;
            .cont{
                display: inline-block;
                // width: 1rem;
                overflow: hidden;
            }
        }
        span.status_msg{

        }
    }
}
.feedback_details{  /*留言详情*/
    width: 3rem;
    height: 4rem;
    font-size: .1rem;
    background-color: white;
    border: .01rem solid #ddd;
    border-radius: .15rem;
    padding: .15rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -1.65rem;
    margin-top: -2rem;
    z-index: 100;
    overflow: auto;
    div{
        p{
            line-height: .3rem;
            word-wrap:break-word;
             word-break:normal;
        }
    }
    span.close_btn{
        display: block;
        width: .1rem;
        height: .1rem;
        width: .1rem;
        line-height: .1rem;
        position: absolute;
        top: .1rem;
        right: .1rem;
    }
}
/*我的矿机*/
ul.myMineralData{
    flex-direction: row;
    margin-top: .2rem;
    li{
        flex-grow: 1;
        text-align: center;
        line-height: .3rem;
        p.fz_50{
            color: #fda100;
        }
    }
}
ul.mineralTabs{
    flex-direction: row;
    width: 70%;
    border: .01rem solid #3c82ff;
    border-radius: .05rem;
    margin: .3rem auto;
    li{
        flex-grow: 1;
        font-size: .16rem;
        text-align: center;
        height: .4rem;
        line-height: .4rem;
    }
}
.normal_table{
    border-collapse: collapse;
    width: 100%;
    thead{
        tr{
            th{
                font-size: .16rem;
                line-height: .6rem;
                border-bottom: .01rem solid rgb(221, 221, 221)
            }
        }
    }
    tr{
        td{
            font-size: .12rem;
            text-align: center;
            padding: .1rem;
            border-bottom: .01rem solid rgb(221, 221, 221);
            position: relative;
            white-space: nowrap;  
            span.btn{
                display: block;
                padding: .05rem .1rem;
                color: white;
                position: absolute;
                right: .04rem;
                bottom: .04rem;
            }
            span.btn.active{
                color: white;
                border: .01rem solid #fda100;
                border-radius: .12rem;
                background-color: #fda100;
            }
        }
    }
}
/*邀请好友*/
.inviteOpt{
    flex-direction: column;
    span.inviteId, span.inviteLink{
        float: left;
        font-size: .1rem;
        line-height: .19rem;
        padding: 0 !important;
        color: white;
        border: .01rem solid #3c82ff;
        background-color: rgba(7, 79, 155, .5);
        height: .19rem;
        overflow: hidden;
        text-indent: .05rem;
    }
    p{
       flex-grow: 1;
    }
    span.inviteId{
        width: 1.2rem;
    }
    span.inviteLink{
        width: 1.8rem;
    }
    span.btn{
        display: block;
        width: 100%;
        float: left;
        font-size: .1rem;
        width: .38rem;
        height: .19rem;
        line-height: .19rem;
        margin-left: .1rem;
    }
}
.btn.shareBtn{
    display: block;
    height: .3rem;
    line-height: .3rem;
    margin-top: .2rem;
}
i.inviteCode{
    display: inline-block;
    width: .15rem;
    height: .15rem;
    background-image: url(../../img/invite_code.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}